<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="FichaResidencial" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <FichaResidencial>
    <!--Identificador del Sistema de Tickets, tabla parArchivosSistema -->
    <add key="IdentificadorSistema" value="6"/>
    <!--Ruta Relativa, donde se guardaran los archivos-->
    <add key="RutaVirtual" value="ficharesidencialadjuntos"/>
  </FichaResidencial>
  <connectionStrings>
    <!--
    <add name="Conexiones"
         connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=SenainfoTmp;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603"
         providerName="System.Data.SqlClient" />-->
    <add name="Conexiones" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=SenainfoCertificacion;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient"/>
    <add name="ConexionesSS" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=loginsenainfoCertificacion;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient"/>
    <add name="SENAINFOCONN" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=loginsenainfoCertificacion;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1048576"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!--
  <FichaResidencial>
    <add key="IdentificadorSistema" value="6" />
    <add key="RutaVirtual" value="ficharesidencialadjuntos" />
  </FichaResidencial>
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="404800"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>